{
  "extends": "../eslintrc/.eslintrc",
  "rules": {
    "callback-return": "warn",
    "consistent-return": "off",
    "guard-for-in": "off",
    "max-nested-callbacks": ["warn", 4],
    "max-statements": "off",
    "no-catch-shadow": "off",
    "no-underscore-dangle": "off"
  }
}
