<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>

    <meta charset=utf-8>
    <title>Schemas</title>
    <meta name=viewport content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link href=home.css rel=stylesheet>

  </head>

  <body>

    {{!-- List of links to individual schema pages --}}
    {{> nav}}

    {{!-- The readme for the documentation --}}
    <main class=markdown-body>{{{md readme}}}</main>

  </body>

</html>
