<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>
    <meta charset=utf-8>
    <title>Schemas</title>
    <link rel=stylesheet href=node_modules>
  </head>

  <body>

    {{!-- The readme for the documentation --}}
    <main class=markdown-body>{{{md readme}}}</main>

  </body>

</html>
