<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>
    <meta charset=utf-8>
    <title>Schemas</title>
  </head>

  <body>

    {{!-- The readme for the documentation --}}
    <main>{{{md readme}}}</main>

  </body>

</html>
