<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>

    <meta charset=utf-8>
    <title>Schemas</title>
    <meta name=viewport content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel=stylesheet href=markdown.css>
    <link rel=stylesheet href=atom-one-light.css>

    <style>

      .markdown-body {
        box-sizing: border-box;
        margin:     0 auto;
        max-width:  60rem;
        min-width:  15rem;
        padding:    1.5rem;
      }

      @media (max-width: 700px) {
        .markdown-body {
          padding: 0.5rem;
        }
      }

    </style>

  </head>

  <body>

    {{!-- The readme for the documentation --}}
    <main class=markdown-body>{{{md readme}}}</main>

  </body>

</html>
