<section class=jschemer-schema>

  <details open>

    {{#if title}}
      <summary>
        <h1>{{md title 'inline'}}: <code>"{{@key}}"</code></h1>
      </summary>
    {{/if}}

  </details>

</section>
