<nav id=jschemer-nav aria-labelledby=jschemer-schemas-list-heading role=navigation>

  {{#unless home}}<p><a href=../index.html>Home</a></p>{{/unless}}

  <h2 id=jschemer-schemas-list-heading>Schemas</h1>

  <ul>
    {{#each schemas}}
      <li><p><a href='{{#if ../home}}schemas/{{_jschemerFilename}}{{else}}{{_jschemerFilename}}{{/if}}'>{{md title 'inline'}}</a></p></li>
    {{/each}}
  </ul>

</nav>
