/* default stylesheet for jschemer documentation pages */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
br,
code,
em,
hr,
img,
strong,
b,
i,
u,
ol,
ul,
li,
main,
nav,
section {
  border: none;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  font: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
a,
b,
blockquote,
br,
code,
em,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
img,
p,
strong,
u {
  display: inline;
}
a {
  background: initial;
  color: #2a7ae2;
  border-bottom: 1px solid white;
  text-decoration: none;
}
a:visited {
  color: #1756a9;
}
a:hover {
  border-bottom: 1px solid #2a7ae2;
}
a:hover:visited {
  border-bottom: 1px solid #1756a9;
}
a:active {
  font-weight: bold;
}
body {
  background-color: white;
  font-family: 'Fira Sans';
  font-size: 100%;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 1rem;
  min-height: 100vh;
  overflow-x: hidden;
}
blockquote {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
ol,
ul {
  list-style: none;
}
table {
  display: table;
}
tbody {
  display: table-row-group;
}
td,
th {
  display: table-cell;
  vertical-align: middle;
}
th {
  text-align: center;
}
thead {
  display: table-header-group;
}
tr {
  display: table-row;
}
.schema {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  margin: 0.5rem 0rem;
  padding: 1rem;
}
.schema code,
.schema pre {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
  font-family: 'Fira Sans Mono', monospace;
  overflow-x: auto;
}
.schema div.prop > :not(h2) {
  padding-left: 0.5rem;
}
.schema h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5em;
}
.schema h2 {
  font-weight: bold;
}
.schema p > code {
  word-wrap: break-word;
}
.schema pre {
  padding: 0.5em 0.5em;
}
.schema strong {
  font-weight: bold;
}
.softBorder {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}
