{{!-- This is a partial template which represents a single JSON Schema --}}

<section class=schema>

  {{#if title}}
    <h1 class='title prop meta-prop'>{{title}}{{#if _key}}: <code>"{{_key}}"</code>{{/if}}</h1>
  {{/if}}

</section>
